*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.icon{
  max-height: 60px;
  margin-right: 10px;
}
.headerr{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.logo{
    width: 30%;
    padding-left: 8%;
}
.bar-list{
    display: flex;
    gap: 25px;
}
.bar-list a{
    color: black;
    font-size: 18px;
    font-weight:500 ;
}
.bar-list button{
    padding-left: 20px;
    border: 2px solid blue;
}
.a1{
    border:3px solid blue;
    color: blue;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 10px;
    border-radius: 8px;
    position: relative;
   
}
.a1:hover{
    background-color: blue;
    color: white;
}
.container{
   padding: 5px 0px;
    display: flex;
    gap: 20px;
    overflow-x: auto 
}
 .flow-div{
   background-color:rgb(23,26,83);
   background-image: url(./img/gallary.png);
   padding: 35px 0px;
} 
.cd-style{
    padding: 20px;
    height: 160px !important;
    width: 140px !important;
    flex: none;
}
.card-img-top{
    margin: 0px auto;
}
.card-content:hover{
  transform: scale(1.1);
}
.data-science-1{
    background-color: white;
    width: 15%;
    display: flex;
    justify-content: center;
}
.aa{
    text-decoration: none;
    color: black;
    text-align: end;
}
.a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: 400;
    height: 50%;
}
.sec-6-card  h5{
    font-size: 15px;
    font-weight: bold;
}
.Sec-3{
    background-color: rgb(240,245,255);
    margin-top: 5%;
}
 .logo {
    display: block;
    margin: 0;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.con{
    padding: 5px 0px;
    gap: 3px;   
    justify-content: center;
  }
  .con h2{
    font-size: 15px;
    font-weight: bold;
  }
  .con p{
    font-size: 15px;
    font-weight: small;
  }
  .basic-styling{
    justify-content: center;
    gap: 13px;
  }
  .main-styling{
    overflow: hidden;
   
  }
  .accordion-item{
    display: none;
  }
    @media (max-width: 768px) {
    .accordion-item{
      display: block !important;
    }
  }
  @media (max-width: 768px){
    .main-styling{
        display: none !important;
    }
  }
.accordion-item h2{
  font-size: small;
  font-weight: bold;
}

  